<!DOCTYPE html>
<head>

</head>

<body>
  <div class="reservation-sign">
    <h2 class="uwa-heading-large">RESERVED</h2>

    <h2 class="uwa-heading">
      Lot {{ booking.bay.lot.lot_number }} - Bay {{ booking.bay.bay_number }}
    </h2>

    <p class="reservation-sign-text">Guest Name: {{ booking.guest_name }}</p>

    <p class="reservation-sign-text">Date: {{ booking.date_booked.strftime("%a, %-d %b %Y") }}</p>

    <p class="reservation-sign-text">Time: {{ booking.start_time }} - {{ booking.end_time }}</p>

    <p class="reservation-sign-text">
      Registration: 
      {% if booking.vehicle_rego %} {{ booking.vehicle_rego }}
      {% else %} NOT GIVEN
      {% endif %}
    </p>
  </div>
  
</body>