{% extends 'base/base.html' %}


{% block title %}
  Bookings - Lot {{ lot.lot_number }} Bays
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-sm-12">
    <h1 class="uwa-heading-large">
      Lot {{ lot.lot_number }} Bays
    </h1>

    <table class="table table-hover table-responsive-md">
      <thead>
        <th>Bay Number</th>
        <th>Google Maps</th>
      </thead>
      {% for bay in bays %}
        <tr class="text-center">
          <td>
            <a class="uwa-link" href="#">
              <span class="material-icons md-36">
                car_repair
              </span>
              {{ bay.bay_number }}
            </a>
          </td>
          <td>
            <a class="uwa-link" target="_blank" href="https://maps.google.com/?q={{ bay.latitude }},{{ bay.longitude }}">
              <span class="material-icons md-24 uwa-link">
                place
              </span>
            </a>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>


{% endblock %}