{% extends 'base/base.html' %}


{% block title %}
  Admin - Add User
{% endblock %}

{% block pageBanner %}
  Add User
{% endblock %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-md-8 uwa-light-panel mb-5" id="login-form">

    <div class="row uwa-dark-panel">
      <div class="col-md-4">
        <p class="panel-banner uwa-heading">
          New User
        </p>
      </div>
    </div>

    <form action="" method="POST" novalidate>
      {{ add_user_form.hidden_tag() }}

      <div class="form-group">
        <div class="row login-visible">
          <div class="col-md-4">
            {{ add_user_form.email.label() }}<br>
          </div>
          <div class="col-md-8">
            {{ add_user_form.email(size=48) }}<br>
          </div>
        </div>

      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8">
          {% for error in add_user_form.email.errors %}
            <div class="alert alert-danger fade show" role="alert">
                <strong>{{ error }}</strong>
            </div>
          {% endfor %}
        </div>
      </div>


      <div class="row login-visible">
        <div class="col-md-4">
          {{ add_user_form.password.label() }}<br>
        </div>
        <div class="col-md-8">
          {{ add_user_form.password(size=48) }}<br>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8">
          {% for error in add_user_form.password.errors %}
            <div class="alert alert-danger fade show" role="alert">
                <strong>{{ error }}</strong>
            </div>
          {% endfor %}
        </div>
      </div>


      <div class="row login-visible">
        <div class="col-md-4">
          {{ add_user_form.password2.label() }}<br>
        </div>
        <div class="col-md-8">
          {{ add_user_form.password2(size=48) }}<br>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8">
          {% for error in add_user_form.password2.errors %}
            <div class="alert alert-danger fade show" role="alert">
                <strong>{{ error }}</strong>
            </div>
          {% endfor %}
        </div>
      </div>


      <div class="row login-visible">
        <div class="col-md-4">
          {{ add_user_form.role.label }}<br>
        </div>
        <div class="col-md-8">
          {{ add_user_form.role() }}<br>
        </div>
      </div>

        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-8">
            {% for error in add_user_form.role.errors %}
              <div class="alert alert-danger fade show" role="alert">
                <strong>{{ error }}</strong>
              </div>
            {% endfor %}
          </div>
        </div>


        <div class="row login-visible">
          <div class="col-md-4">
            {{ add_user_form.department.label }}<br>
          </div>
          <div class="col-md-8">
            {{ add_user_form.department() }}<br>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-8">
            {% for error in add_user_form.department.errors %}
              <div class="alert alert-danger fade show" role="alert">
                <strong>{{ error }}</strong>
              </div>
            {% endfor %}
          </div>
        </div>


        <div class="row login-visible">
          <div class="col-md-8 offset-md-4 pt-3 uwa-submit">
            <button class="btn uwa-btn" type="submit">
              <span class="material-icons md-24">
                how_to_reg
              </span>
              Update User
            </button>
          </div>
        </div>

      </div>
    </form>
  </div>
</div>


{% endblock %}