{% extends 'base/base.html' %}


{% block title %}
  Admin - Add User
{% endblock %}

{% block content %}
  <h1 class="uwa-heading-large">Add User</h1>
  <!-- 
  <div class = 'add_user_form' > 
    <form action="" method="POST" novalidate>
      {{ add_user_form.hidden_tag() }}
  
      <div class="add_user_form-group">
        {{ add_user_form.email.label() }}<br>
        {{ add_user_form.email(size=32) }}<br>
        {% for error in add_user_form.password.errors %}
        <span style="color:red;">[{{ error }}]</span>
        {% endfor %}
      </div>
  
      <div class="add_user_form-group">
        {{ add_user_form.password.label }}<br>
        {{ add_user_form.password(size=32) }}<br>
        {% for error in add_user_form.password.errors %}
        <span style="color:red;">[{{ error }}]</span>
        {% endfor %}
      </div>
  
      <div class="add_user_form-group">
        {{ add_user_form.password2.label }}<br>
        {{ add_user_form.password2(size=32) }}<br>
        {% for error in add_user_form.password2.errors %}
        <span style="color:red;">[{{ error }}]</span>
        {% endfor %}
      </div>
  
      <div class="add_user_form-group">
        {{ add_user_form.role.label }}<br>
        {{ add_user_form.role }}<br>
        {% for error in add_user_form.role.errors %}
        <span style="color:red;">[{{ error }}]</span>
        {% endfor %}
      </div>
      <br/> 
  
      <button class="btn uwa-btn uwa-heading" type="submit">
        Add User
        <span class="material-icons md-24 uwa-heading">
          person_add
        </span>
      </button>

      <button class="btn uwa-btn uwa-heading" type="reset">
        Clear
      </button>
    </form>
  </div> -->

  <div class = 'add_user_form' > 
    <form action="" method="POST" novalidate>
      {{ add_user_form.hidden_tag() }}
      
  
      <div class="add_user_form-group">
        {{ add_user_form.email.label() }}<br>
        {{ add_user_form.email(size=32) }}<br>
        {% for error in add_user_form.email.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>{{error}}</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
      </div>
  
      <div class="add_user_form-group">
        {{ add_user_form.password.label }}<br>
        {{ add_user_form.password(size=32) }}<br>
        {% for error in add_user_form.password.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>{{error}}</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
      </div>
  
      <div class="add_user_form-group">
        {{ add_user_form.password2.label }}<br>
        {{ add_user_form.password2(size=32) }}<br>
        {% for error in add_user_form.password2.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>{{error}}</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
      </div>
  
      <div class="add_user_form-group">
        {{ add_user_form.role.label }}<br>
        {{ add_user_form.role }}<br>
      </div>
      <br/> 
  
      <button class="btn uwa-btn uwa-heading" type="submit">
        Add User
        <span class="material-icons md-24 uwa-heading">
          person_add
        </span>
      </button>

      <button class="btn uwa-btn uwa-heading" type="reset">
        Clear
      </button>
    </form>
  </div>


{% endblock %}
