{% extends 'base/base.html' %}


{% block title %}
  Admin - Edit User
{% endblock %}

{% block content %}
  <h1 class="uwa-heading-large">Edit User</h1>
  <h2 class="uwa-heading">
    {{ editing_user.first_name }} {{ editing_user.last_name }}
  </h2>

  <form action="" method="POST" novalidate>
    {{ edit_user_form.hidden_tag() }}

    <div class="form-group">
      {{ edit_user_form.email.label() }}<br>
      {{ edit_user_form.email(size=32) }}<br>
      {% for error in edit_user_form.email.errors %}
        <span style="color:red;">[{{ error }}]</span>
      {% endfor %}
    </div>

    <div class="form-group">
      {{ edit_user_form.first_name.label() }}<br>
      {{ edit_user_form.first_name(size=32) }}<br>
      {% for error in edit_user_form.first_name.errors %}
        <span style="color:red;">[{{ error }}]</span>
      {% endfor %}
    </div>

    <div class="form-group">
      {{ edit_user_form.last_name.label() }}<br>
      {{ edit_user_form.last_name(size=32) }}<br>
      {% for error in edit_user_form.last_name.errors %}
        <span style="color:red;">[{{ error }}]</span>
      {% endfor %}
    </div>

    <div class="form-group">
      {{ edit_user_form.role.label }}<br>
      {{ edit_user_form.role }}<br>
      {% for error in edit_user_form.role.errors %}
      <span style="color:red;">[{{ error }}]</span>
      {% endfor %}
    </div>

    <button class="btn uwa-btn uwa-heading" type="submit">
      Update User
      <span class="material-icons md-24 uwa-heading">
        how_to_reg
      </span>
    </button>
  </form>

{% endblock %}