{% extends 'base/base.html' %}


{% block title %}
  Admin - View Users
{% endblock %}

{% block pageBanner %}
  All Users
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-md-10 offset-md-1">

      <div class="row pb-4 pl-3 pr-3">
        <h1 class="uwa-heading-large">Admin</h1>

        <table class="table table-hover table-responsive-md">
          <thead class="uwa-heading">
            <th style="width: 15%;">Department</th>
            <th style="width: 15%;">First Name</th>
            <th style="width: 15%;">Last Name</th>
            <th style="width: 15%;">Email</th>
            <th style="width: 15%;">Contact Number</th>
            <th style="width: 15%;">Role</th>
            <th>Edit</th>
            <th>Delete</th>
          </thead>
          {% for user in admin_users %}
          <tr>
            <td>{% if user.department %} {{ user.department.name }} {% else %} NO DEPARTMENT ASSIGNED {% endif %}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.contact_number }}</td>
            <td>{{ user.role.name }}</td>
            <td>
              <a href="{{ url_for('admin.edit_user', user_id=user.id) }}">
                <span class="material-icons md-24 uwa-link">
                  edit
                </span>
              </a>
            </td>
            <td>
              <a onclick='return confirmDelete("this user")' href="{{ url_for('admin.delete_user', user_id=user.id) }}">
                <span class="material-icons md-24 uwa-link">
                  delete
                </span>
              </a>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>

      <div class="row pb-4 pl-3 pr-3">
        <h1 class="uwa-heading-large">Active</h1>

        <table class="table table-hover table-responsive-md">
          <thead class="uwa-heading">
            <th style="width: 15%;">Department</th>
            <th style="width: 15%;">First Name</th>
            <th style="width: 15%;">Last Name</th>
            <th style="width: 15%;">Email</th>
            <th style="width: 15%;">Contact Number</th>
            <th style="width: 15%;">Role</th>
            <th>Edit</th>
            <th>Delete</th>
          </thead>
          {% for user in normal_users %}
          <tr>
            <td>{% if user.department %} {{ user.department.name }} {% else %} NO DEPARTMENT ASSIGNED {% endif %}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.contact_number }}</td>
            <td>{{ user.role.name }}</td>
            <td>
              <a href="{{ url_for('admin.edit_user', user_id=user.id) }}">
                <span class="material-icons md-24 uwa-link">
                  edit
                </span>
              </a>
            </td>
            <td>
              <a onclick='return confirmDelete("this user")' href="{{ url_for('admin.delete_user', user_id=user.id) }}">
                <span class="material-icons md-24 uwa-link">
                  delete
                </span>
              </a>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>

      <div class="row pb-4 pl-3 pr-3">
        <h1 class="uwa-heading-large">Inactive</h1>

        <table class="table table-hover table-responsive-md">
          <thead class="uwa-heading">
            <th style="width: 15%;">Department</th>
            <th style="width: 15%;">First Name</th>
            <th style="width: 15%;">Last Name</th>
            <th style="width: 15%;">Email</th>
            <th style="width: 15%;">Contact Number</th>
            <th style="width: 15%;">Role</th>
            <th>Edit</th>
            <th>Delete</th>
          </thead>
          {% for user in disabled_users %}
          <tr>
            <td>{% if user.department %} {{ user.department.name }} {% else %} NO DEPARTMENT ASSIGNED {% endif %}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.contact_number }}</td>
            <td>{{ user.role.name }}</td>
            <td>
              <a href="{{ url_for('admin.edit_user', user_id=user.id) }}">
                <span class="material-icons md-24 uwa-link">
                  edit
                </span>
              </a>
            </td>
            <td>
              <a onclick='confirmDelete("this user")' href="{{ url_for('admin.delete_user', user_id=user.id) }}">
                <span class="material-icons md-24 uwa-heading">
                  delete
                </span>
              </a>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>

      <div class="row pb-4 pl-3 pr-3">

        <a class="btn uwa-btn" href="{{ url_for('admin.add_user') }}">
          <span class="material-icons md-24">
            person_add
          </span>
          Add User
        </a>

        <a class="btn uwa-btn" href="{{ url_for('admin.departments') }}">
          <span class="material-icons md-24">
            room_preferences
          </span>
          Manage Departments
        </a>
      </div>

    </div>
  </div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/onclicks.js') }}"></script>
{% endblock %}