{% extends 'base/base.html' %}


{% block title %}
  Index
{% endblock %}


{% block content %}

  <h1>Reservable UniPark Car Bays</h1>

  <div class="row">
    <div class="col-sm">
      {% for lot in lots %}
        <h3>Car Park {{ lot.lot_number }}</h3>
        <ul>
          {% for bay in lot.bays %}
            <li>Bay {{ bay.bay_number }}</li>
          {% endfor %}
        </ul>
        {% endfor %}
      </div>
    
    <div class="col-sm">
      <img class="map" src="{{ url_for('static', filename='media/images/carpark-map.jpg') }}">
    </div>
    
  </div>

{% endblock %}