<!DOCTYPE html>
<!-- "h-100" making footer stick to bottom ... I don't know why though-->
<html lang="en" class="h-100">

<head>
  <!-- Page title -->
  <title>{% block title %}{% endblock %}</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="shortcut icon" href="{{ url_for('static', filename='media/logos/uwa.ico') }}">

  <!-- Google Material Icons-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

  <!-- base_style.css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/unipark_booking.css') }}">

  <!-- Insert additional style sheets here -->
  {% block styleSheets %}{% endblock %}
</head>

<!-- These 3 classes "d-flex flex-column min-vh-100" are keeping footer stuck to bottom of page-->
<body class="d-flex flex-column min-vh-100">

  <!-- Top Navbar -->
  {% include 'base/uwa_navbar.html' %}

  <!-- Page Banner-->
  <div class="uwa-dark-panel uwa-heading sticky-top" id="page-banner">
    <h1>{% block pageBanner %}{% endblock %}</h1>
  </div>

  <div class="container-fluid pt-4" id="content-container">

  <!-- Flashed messages -->
  {% include 'base/flashed_msgs.html' %}

  {% block content %}{% endblock %}
  </div>

  <!-- Bottom Footer -->
  {% include 'base/footer.html' %}

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

  <!-- Insert additional scripts here -->
  {% block scripts %}{% endblock %}
</body>

</html>