<footer class="footer mt-auto pt-3 pb-3">
  <div class="container-fluid">
    <div class="row justify-content-between">
      <div class="col-md-6">
        <p>
          <b>
            Created By:
          </b>
           <a class="uwa-link" href="#">
             CITS3200 Team 15 (2021)
          </a>
        </p>
      </div>
      <div class="col-md-6">
        <p class="text-right uwa-link">
          <a class="uwa-link" href="https://www.web.uwa.edu.au/contact/map">
            Campus Map
          </a>
          <span class="material-icons md-24">
            map
          </span>
        </p>
      </div>
    </div>

  </div>
</footer>