<div class="flex-nav">
  <nav class="navbar navbar-expand-xl" id="uwa-navbar">

    <a class="navbar-brand" id="uwa-nav-logo" href="https://www.uwa.edu.au/">
      <img src="{{ url_for('static', filename='media/logos/uwacrest-white.svg') }}" id="uwa-nav-logo">
    </a>

    {% if current_user.is_authenticated %}
    <button class="navbar-toggler uwa-nav-btn" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="material-icons md-48">
        menu
      </span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">

      <ul class="navbar-nav" id="left-navbar">
        <!-- <li class="nav-item">
            {% if current_user.is_administrator() %}
            <a class="nav-link uwa-nav-btn" href="{{ url_for('admin.index') }}">
            {% else %}
            <a class="nav-link uwa-nav-btn" href="{{ url_for('main.index') }}">
            {% endif %}
              <span class="material-icons md-36">
                home
              </span>
              Home
            </a>
          </li> -->


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle uwa-nav-btn" href="#" role="button" , data-toggle="dropdown">
            <span class="material-icons md-36">
              book_online
            </span>
            Bookings
          </a>
          <div class="dropdown-menu w-100">
            <a class="dropdown-item" href="{{ url_for('bookings.parking_lots') }}">
              <span class="material-icons md-24">
                add
              </span>
              New Booking
            </a>
            <a class="dropdown-item" href="{{ url_for('bookings.manage') }}">
              <span class="material-icons md-24">
                settings
              </span>
              Manage Bookings
            </a>
          </div>

          <!-- Admin links -->
          {% if current_user.is_administrator() %}
        </li>
        <li class="nav-item">
          <a class="nav-link uwa-nav-btn" href="#">
            <span class="material-icons md-36">
              car_repair
            </span>
            Bays
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link uwa-nav-btn" href="{{ url_for('admin.users') }}">
            <span class="material-icons md-36">
              manage_accounts
            </span>
            Users
          </a>
        </li>

        <!-- User links-->
        {% else %}
        <li class="nav-item">
          <a class="nav-link uwa-nav-btn" href="{{ url_for('auth.account',user_id=current_user.id) }}">
            <span class="material-icons md-36">
              manage_accounts
            </span>
            My Account
          </a>
        </li>

        {% endif %}
      </ul>

      <ul class="navbar-nav ml-auto" id="right-navbar">
        <li class="nav-item">
          <a class="nav-link uwa-nav-btn" href="{{ url_for('auth.logout') }}">
            <span class="material-icons md-36">
              logout
            </span>
            Log Out
          </a>
        </li>
      </ul>
    </div>
    {% endif %}

  </nav>

</div>